VisualStudio/Playground/.vs/Playground/v14/.suo
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/CL.command.1.tlog
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/CL.read.1.tlog
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/CL.write.1.tlog
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/CompositeApplication.lastbuildstate
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/link.command.1.tlog
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/link.read.1.tlog
VisualStudio/Playground/CompositeApplication/x64/Debug/Composit.493B5C51.tlog/link.write.1.tlog
VisualStudio/Playground/CompositeApplication/x64/Debug/CompositeApplication.log
VisualStudio/Playground/CompositeApplication/x64/Debug/main.obj
VisualStudio/Playground/CompositeApplication/x64/Debug/vc140.idb
VisualStudio/Playground/CompositeApplication/x64/Debug/vc140.pdb
VisualStudio/Playground/DesignPatterns/x64/Debug/Builder.obj
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.log
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.obj
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.pch
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/CL.command.1.tlog
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/CL.read.1.tlog
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/CL.write.1.tlog
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/DesignPatterns.lastbuildstate
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/link.command.1.tlog
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/link.read.1.tlog
VisualStudio/Playground/DesignPatterns/x64/Debug/DesignPatterns.tlog/link.write.1.tlog
VisualStudio/Playground/DesignPatterns/x64/Debug/stdafx.obj
VisualStudio/Playground/DesignPatterns/x64/Debug/vc140.idb
VisualStudio/Playground/DesignPatterns/x64/Debug/vc140.pdb
VisualStudio/Playground/FactoryApplication/x64/Debug/ComputerFactory.obj
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/CL.command.1.tlog
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/CL.read.1.tlog
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/CL.write.1.tlog
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/FactoryApplication.lastbuildstate
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/link.command.1.tlog
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/link.read.1.tlog
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryA.2C117704.tlog/link.write.1.tlog
VisualStudio/Playground/FactoryApplication/x64/Debug/FactoryApplication.log
VisualStudio/Playground/FactoryApplication/x64/Debug/main.obj
VisualStudio/Playground/FactoryApplication/x64/Debug/vc140.idb
VisualStudio/Playground/FactoryApplication/x64/Debug/vc140.pdb
VisualStudio/Playground/Playground.VC.db
VisualStudio/Playground/PrototypeApplication/x64/Debug/MixedRecords.obj
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/CL.command.1.tlog
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/CL.read.1.tlog
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/CL.write.1.tlog
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/PrototypeApplication.lastbuildstate
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/link.command.1.tlog
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/link.read.1.tlog
VisualStudio/Playground/PrototypeApplication/x64/Debug/Prototyp.D5620429.tlog/link.write.1.tlog
VisualStudio/Playground/PrototypeApplication/x64/Debug/PrototypeApplication.log
VisualStudio/Playground/PrototypeApplication/x64/Debug/main.obj
VisualStudio/Playground/PrototypeApplication/x64/Debug/vc140.idb
VisualStudio/Playground/PrototypeApplication/x64/Debug/vc140.pdb
VisualStudio/Playground/x64/Debug/CompositeApplication.exe
VisualStudio/Playground/x64/Debug/CompositeApplication.ilk
VisualStudio/Playground/x64/Debug/CompositeApplication.pdb
VisualStudio/Playground/x64/Debug/DesignPatterns.exe
VisualStudio/Playground/x64/Debug/DesignPatterns.ilk
VisualStudio/Playground/x64/Debug/DesignPatterns.pdb
VisualStudio/Playground/x64/Debug/FactoryApplication.exe
VisualStudio/Playground/x64/Debug/FactoryApplication.ilk
VisualStudio/Playground/x64/Debug/FactoryApplication.pdb
VisualStudio/Playground/x64/Debug/PrototypeApplication.exe
VisualStudio/Playground/x64/Debug/PrototypeApplication.ilk
VisualStudio/Playground/x64/Debug/PrototypeApplication.pdb
